@use '../../../utils/scss/breakpoints';
@use './grid';

$grid-size: calc(100vw - grid.$grid-gap);
$grid-max-size: 50rem;

.grid {
  @include grid.responsive-grid-gap;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: $grid-size;
  max-width: $grid-max-size;
  height: $grid-size;
  max-height: $grid-max-size;
  margin: grid.$grid-gap auto;

  @media (min-width: breakpoints.$sm) {
    $grid-size: calc(100vw - grid.$grid-gap-double);
    width: $grid-size;
    height: $grid-size;
    margin: grid.$grid-gap-double auto;
  }
}
