@use '../../../utils/scss/colors';
@use '../../../utils/scss/breakpoints';
@use '../../../utils/scss/layout';
@use '../../../utils/scss/timings';

.game-modal {
  &__step {
    margin-bottom: 1rem;
  }

  &__mode {
    @include layout.center;
    flex-direction: column;
    row-gap: 0.75rem;
    justify-content: space-around;

    @media (min-width: breakpoints.$sm) {
      flex-direction: row;
      column-gap: 1rem;
    }

    &__option {
      // TODO: Temp positioning.
      position: relative;
      @include layout.center;
      gap: 0.5rem;
      width: 100%;
      padding: 0.25rem;
      border: 0;
      border-radius: 0.25rem;
      font-size: inherit;
      color: inherit;
      background-color: colors.$gray-brightened;
      transition: timings.$select linear;
      cursor: pointer;

      // TODO: Temp info.
      &:last-of-type {
        &::after {
          content: 'Work in progress. Comming soon.';
          position: absolute;
          bottom: 0;
          transform: translateY(100%);
          font-size: 0.6rem;
          color: #888;
        }
      }

      &--dark {
        background-color: colors.$background-dark-muted;
      }

      &--active {
        background-color: colors.$gray;

        &.game-modal__mode__option--dark {
          background-color: colors.$background-dark-brightened;
        }
      }

      &__controller-icon {
        width: 2rem;
        height: 2rem;

        &--dark {
          fill: colors.$background-light;
        }
      }
    }
  }

  &__footer {
    margin-top: 1rem;

    &__button {
      display: block;
      margin-left: auto;
    }
  }
}
