@use '../../../../utils/scss/colors';
@use '../../../../utils/scss/timings';
@use '../../../../utils/scss/breakpoints';

.heart-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: colors.$red;
  stroke: colors.$red;
  transform-origin: top right;

  @media (min-width: breakpoints.$sm) {
    width: 2rem;
    height: 2rem;
  }
}
