@use '../../../../utils/scss/colors';
@use '../../../../utils/scss/timings';

.heart-icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: transparent;
  stroke: colors.$background-dark;
  transform-origin: top right;
  transition: stroke timings.$dark-theme-toggle;

  &--dark {
    stroke: colors.$gray;
  }
}
