@use '../../../../utils/scss/colors';
@use '../../../../utils/scss/timings';

.heart-icon {
  width: 2rem;
  height: 2rem;
  fill: colors.$red;
  stroke: colors.$red;
  transform-origin: top right;
}
