@use './timings';

@mixin hinge {
  @keyframes hinge {
    0% {
      animation-timing-function: ease-in-out;
    }

    20%,
    60% {
      transform: rotate3d(0, 0, 1, -80deg);
      animation-timing-function: ease-in-out;
    }

    40%,
    80% {
      transform: rotate3d(0, 0, 1, -60deg);
      animation-timing-function: ease-in-out;
      opacity: 1;
    }

    100% {
      transform: translate3d(0, 700px, 0);
      opacity: 0;
    }
  }

  animation: hinge timings.$hinge;
}

@mixin spin {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  animation: spin timings.$spin linear infinite;
}
