$background-light: #fff;

$background-dark: #1d1d1d;
$background-dark-brightened: #333;
$background-dark-muted: #171717;

$error: #ff0000;

$gray: #ddd;
$gray-brightened: #eee;
$gray-muted: #ccc;

$red: #a33436;
