$background-light: #fff;

$background-dark: #1d1d1d;
$background-dark-brightened: #333;
$background-dark-muted: #171717;

$success: #07bc0c;
$warning: #ffac33;
$error: #e74c3c;

$gray: #ddd;
$gray-brightened: #eee;
$gray-muted: #ccc;

$red: #a33436;
