@use '../../../../utils/scss/colors';
@use '../../../../utils/scss/timings';
@use '../../../../utils/scss/breakpoints';

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  transition: transform 200ms;

  &__star-icon {
    width: 1.25rem;
    height: 1.25rem;

    @media (min-width: breakpoints.$sm) {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &__number {
    font-size: 1rem;
    color: colors.$background-dark;
    transition: color timings.$dark-theme-toggle;

    @media (min-width: breakpoints.$sm) {
      font-size: 1.2rem;
    }

    &--dark {
      color: colors.$gray;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;

  @media (min-width: breakpoints.$sm) {
    gap: 1rem;
  }

  &__button {
    padding: 0.75rem;
  }
}

.enterActive,
.exitActive {
  transform: scale(1.2);
}
