@use '../../../utils/scss/colors';
@use '../../../utils/scss/timings';
@use '../../../utils/scss/layout';
@use '../../../utils/scss/animations';

.button {
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  background-color: colors.$gray;
  color: colors.$background-dark;
  font-size: 1rem;
  transition: background-color timings.$dark-theme-toggle,
    color timings.$dark-theme-toggle;
  cursor: pointer;

  &--dark {
    background-color: colors.$background-dark-muted;
    color: colors.$gray;
  }

  &--loading {
    @include layout.center;
    column-gap: 0.25rem;

    &::after {
      content: '';
      display: inline-flex;
      width: 0.85rem;
      height: 0.85rem;
      border: 0.125rem solid colors.$background-dark;
      border-radius: 50%;
      border-left-color: transparent;
      @include animations.spin;
    }
  }

  &--loading.button--dark {
    &::after {
      border-color: colors.$gray;
      border-left-color: transparent;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
