@use '../../../utils/scss/colors';
@use '../../../utils/scss/timings';

.button {
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  background-color: colors.$gray;
  color: colors.$background-dark;
  font-size: 1rem;
  transition: background-color timings.$dark-theme-toggle,
    color timings.$dark-theme-toggle;
  cursor: pointer;

  &--dark {
    background-color: colors.$background-dark-muted;
    color: colors.$gray;
  }
}
