@use './navbar';
@use '../../../utils/scss/colors';
@use '../../../utils/scss/breakpoints';

// TODO:
// Add fixed height
// to prevent jumping effect
// when all hearts disappear.
.navbar {
  @include navbar.responsive-navbar-padding;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  @media (min-width: breakpoints.$sm) {
    gap: 1rem;
  }

  &__theme-toggler {
    position: absolute;
    right: 0.5rem;

    @media (min-width: breakpoints.$sm) {
      right: 1rem;
    }
  }
}
