@use '../../../../utils/scss/colors';

.modal-results {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: colors.$gray-brightened;

  &--dark {
    background-color: colors.$background-dark-muted;
  }

  &__summary {
    display: block;
    text-align: center;
  }

  &__result {
    margin-block: 0.5rem;

    &--loading {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      div {
        width: 0.85rem;
        height: 0.85rem;
      }
    }

    &--error {
      font-size: 0.85rem;
      color: colors.$error;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &__earned-experience {
      color: colors.$success;
    }
  }
}
