@use '../../utils/scss/colors';
@use '../../utils/scss/timings';

.profile {
  max-width: 48rem;
  margin-inline: auto;
  padding: 1rem;

  &__back-to-home-link {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    text-decoration: none;
    color: inherit;

    &__back-arrow-icon {
      width: 1rem;
      height: 1rem;
      fill: colors.$background-dark;

      &--dark {
        fill: colors.$gray;
      }
    }
  }

  &__header {
    margin-top: 1rem;

    &__username {
      font-size: 1.6rem;
    }
  }

  &__tab-list {
    display: flex;
    margin-top: 1rem;

    &__tab {
      outline: none;
      border-radius: 0;
      background-color: colors.$gray-brightened;
      transition: background-color timings.$select linear;

      &:first-of-type {
        border-radius: 0.25rem 0 0 0.25rem;
      }

      &:last-of-type {
        border-radius: 0 0.25rem 0.25rem 0;
      }

      &--selected {
        background-color: colors.$gray;
      }

      &--dark {
        background-color: colors.$background-dark-muted;
        color: colors.$gray;

        &.profile__tab-list__tab--selected {
          background-color: colors.$background-dark-brightened;
        }
      }
    }
  }

  &__tab-panels {
    margin-top: 1rem;

    &__panel {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      padding: 1rem;
      border-radius: 0.25rem;
      background-color: colors.$gray-brightened;

      &--dark {
        background-color: colors.$background-dark-muted;
      }

      &__progress {
        &__trophy {
          display: block;
          width: 3rem;
          height: 3rem;
          margin: auto;
        }

        &__bar {
          &__line {
            position: relative;
            width: 100%;
            height: 0.125rem;
            margin: 1rem 0 0.5rem 0;
            border-radius: 0.25rem;
            background-color: colors.$gray-muted;

            &__percent {
              position: absolute;
              height: 100%;
              border-radius: 0.25rem;
              background-color: colors.$warning;
            }
          }

          &__exp {
            display: flex;
            justify-content: space-between;
            font-size: 0.85rem;
          }
        }
      }

      &__heading {
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
