@use '../../../utils/scss/breakpoints';
@use '../../../utils/scss/colors';
@use '../../../utils/scss/timings';
@use '../grid';

.card {
  @include grid.responsive-grid-item-width;

  position: relative;
  height: 20%;
  border: 1px solid colors.$gray-muted;
  border-radius: 0.25rem;
  background-color: colors.$gray;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform timings.$card-rotate;
  cursor: pointer;

  &--rotated {
    transform: rotateY(180deg);
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(1rem, 30%, 2rem);
    backface-visibility: hidden;

    &--rotated {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }
}
