@use '../../../utils/scss/breakpoints';
@use '../../../utils/scss/colors';
@use '../../../utils/scss/timings';
@use '../grid';
@use './card';

.card {
  @include grid.responsive-grid-item-width;
  position: relative;
  height: 20%;
  border: 1px solid colors.$gray-muted;
  border-radius: 0.25rem;
  background-color: colors.$gray;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform timings.$card-flip;
  cursor: pointer;

  &--flipped {
    background-color: colors.$gray-brightened;
  }

  &--disabled {
    cursor: default;
  }

  &__image {
    @include card.disable-drag;
    @include card.disable-select;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(1rem, 30%, 2rem);
    backface-visibility: hidden;

    &--flipped {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }
}

.appear {
  transform: rotateY(0deg);
}

.appearActive {
  transform: rotateY(0deg);
}

.enter {
  transform: rotateY(0deg);
}

.enterActive {
  transform: rotateY(180deg);
}

.enterDone {
  transform: rotateY(180deg);
}

.exit {
  transform: rotateY(180deg);
}

.exitActive {
  transform: rotateY(0deg);
}

.exitDone {
  transform: rotateY(0deg);
}
