@use './utils/scss/colors';
@use './utils/scss/timings';

:global {
  body {
    background-color: colors.$background-light;
    transition: background-color timings.$dark-theme-toggle;
    color: colors.$background-dark;
  }

  .dark-theme {
    background-color: colors.$background-dark;
    color: colors.$gray;
  }
}
